<div class="container">
    <div class="row">
        <div class="col">
            <p class="h4">Treanding</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Treanding 1
        </div>
        <div class="col-sm-3">
            Treanding 2
        </div>
        <div class="col-sm-3">
            Treanding 3
        </div>
        <div class="col-sm-3">
            Treanding 4
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <p class="h5">Popular Posts</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <%= render partial: "posts/list", posts: @posts %>
        </div>
        <div class="col-4">
            <p class="h5">Up and commitn Counnunities</p>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <% @communities.each do |community| %>
                        <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
                    <% end %>
                </ul>
            </div>

            <%= link_to "View all", communities_path, class: "btn btn-primary mt-3" %>

        </div>
    </div>
</div>